<template>
    <div>
        <div class="page-header header-filter header-small" data-parallax="true" filter-color="red" style="background-image: url('/img/headers/books.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">{{ this.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="card card-plain">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="card-title pull-left">{{ $t('pages.cart.title') }}</h3>
                            <button type="button" class="btn btn-danger btn-round btn-just-icon btn-sm cartPageEmpty" v-on:click="empty" rel="tooltip" data-placement="top" title="Kosár ürítése" v-if="cart && cart.quantity > 0">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                        <br/>
                        <div v-if="!cart">

                        </div>
                        <div v-else>
                            <div class="empty-cart" v-if="cart.quantity < 1">
                                <h3 class="text-center font-weight-bold">{{ $t('cart.menu.sections.emptyCart.title') }}</h3>
                                <p class="text-center">{{ $t('cart.menu.sections.emptyCart.description') }}</p>
                            </div>
                            <div class="table-responsive cart-table" v-else>
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>{{ $t('pages.cart.table.product') }}</th>
                                        <th class="text-right">{{ $t('pages.cart.table.price') }}</th>
                                        <th class="text-right">{{ $t('pages.cart.table.quantity') }}</th>
                                        <th class="text-right">{{ $t('pages.cart.table.totalPrice') }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart-row" v-for="product in cart.products">
                                        <td>
                                            <div class="img-container">
                                                <img :src="product.index_image" :alt="product.slug">
                                            </div>
                                        </td>
                                        <td class="td-name">
                                            <router-link :to="{name: 'product', params: {product: product.slug}}">
                                                {{ product.name }}
                                            </router-link>
                                        </td>
                                        <td class="td-number text-right">
                                            <span v-if="product.new_price"> {{ product.new_price}}</span>
                                            <span v-else> {{ product.price}}</span>
                                            <small>HUF</small>
                                        </td>
                                        <td class="td-number">
                                            <div class="cart-quantity-selector">
                                                <button type="button" class="btn btn-primary btn-just-icon btn-sm" v-if="cart.cart[product.slug].qty == 1" disabled>
                                                    <i class="material-icons">remove</i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-just-icon btn-sm" v-else v-on:click="updateCart(product.slug, 'remove')">
                                                    <i class="material-icons">remove</i>
                                                </button>
                                                <span class="quantity ml-1">
                                                {{ cart.cart[product.slug].qty }}
                                            </span>
                                                db
                                                <button type="button" class="btn btn-primary btn-just-icon btn-sm ml-1" v-on:click="updateCart(product.slug, 'add')">
                                                    <i class="material-icons">add</i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="td-number">
                                        <span class="cart-row-price">
                                            {{ product.cart_price }}
                                        </span>
                                            <small>HUF</small>
                                        </td>
                                        <td class="td-actions">
                                            <button type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" v-on:click="remove(product.slug)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="cart-verdict" v-if="cart.quantity > 0">
                                <h3>{{ $t('pages.cart.text.total') }}: <span class="cartPage-discounted">{{ cart.discounted }}</span> <small>HUF</small></h3>
                                <h5>{{ $t('pages.cart.text.totalWithoutDiscount') }}: <span class="cartPage-total">{{ cart.total }}</span> <small>HUF</small></h5>
                                <h5>{{ $t('pages.cart.text.totalDiscount') }}: <span class="cartPage-discount">{{ cart.total - cart.discounted }}</span> <small>HUF</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { EventBus } from '../../event-bus';

    export default {
        name: "Cart",
        data () {
            return {
                title: 'Betöltés...',
                cart: null
            }
        },
        head: {
            title: function () {
                return {
                    inner: this.title
                }
            },
        },
        mounted: function() {
            this.loadCart();
        },
        methods: {
            loadCart: function () {
                var cart = $.when(this.$http.get(domain + '/api/cart').then((response) => {
                    this.cart = response.body;
                }));
                return cart;
            },
            updateCart: function (product, operation) {
                var update = $.when(this.$http.put(domain + '/api/cart/' + product, {
                    operation: operation
                }, {
                    headers: window.axios.defaults.headers.common
                }).then((response) => {
                    this.cart = response.body;
                    EventBus.$emit('refreshCart')
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
                return update;
            },
            remove: function (product) {
                var remove = $.when(this.$http.delete(domain + '/api/cart/' + product, {
                    headers: window.axios.defaults.headers.common
                }).then((response) => {
                    this.cart = response.body;
                    EventBus.$emit('refreshCart')
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
                return remove;
            },
            empty: function () {
                var empty = $.when(this.$http.get(domain + '/api/cart/empty').then((response) => {
                    $.notify({
                        icon: "done",
                        message: response.body.message,
                    },{
                        type: 'success',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                    EventBus.$emit('refreshCart')
                    this.cart = response.body.cart;
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
            }
        },
        created() {
            this.title = this.$t('pages.cart.title');
            $('body').attr('class', 'shopping-cart sidebar-collapse');
        }
    }

</script>

<style scoped>

</style>