<template>
    <div>
        <div class="page-header header-filter header-small" data-parallax="true" filter-color="red" style="background-image: url('/img/headers/books.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1>{{ this.title }}</h1>
                            <h3 class="title">{{ $t('pages.category.description') }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">{{ $t('pages.category.sections.products.title') }}</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-refine card-plain card-rose">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ $t('pages.category.sections.refine.title') }}
                                        <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" v-on:click="resetRefine" id="resetRefineButton" rel="tooltip" title="" :data-original-title="$t('pages.category.sections.refine.resetFilter')">
                                            <i class="material-icons">cached</i>
                                        </button>
                                    </h4>
                                    <div id="accordion" role="tablist">
                                        <div class="card card-collapse">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        {{ $t('pages.category.sections.priceRange.title') }}
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="card-body card-refine">
                                                    <span id="price-left" class="price-left pull-left" data-currency="HUF" :data-price="category.min_price" v-if="category">{{ category.min_price }}HUF</span>
                                                    <span id="price-right" class="price-right pull-right" data-currency="HUF" :data-price="category.max_price" v-if="category">{{ category.max_price }}HUF</span>
                                                    <div class="clearfix"></div>
                                                    <div id="sliderRefine" ref="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-collapse">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <a class="collapse" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                        {{ $t('pages.category.sections.publisher.title') }}
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                                <div v-if="!publishers">
                                                    <div :style="{ 'width': lodash.random(0, 100) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background" v-for="n in 5"></div>
                                                </div>
                                                <div class="form-check" v-else v-for="publisher in publishers">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input publisher"
                                                               type="checkbox"
                                                               :value="publisher.id"
                                                               name="publisher[]"
                                                               :data-authors="publisher.authors">
                                                        {{ publisher.name }} ({{ publisher.products_count }})
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-collapse">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h5 class="mb-0">
                                                    <a class="collapse" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                        {{ $t('pages.category.sections.author.title') }}
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                                <div v-if="!authors">
                                                    <div :style="{ 'width': lodash.random(0, 100) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background" v-for="n in 5"></div>
                                                </div>
                                                <div class="form-check" v-else v-for="author in authors">
                                                    <label class="form-check-label">
                                                        <input  class="form-check-input author"
                                                                type="checkbox"
                                                                :value="author.id"
                                                                name="author[]"
                                                                :data-publishers="author.publishers">
                                                        {{ author.name }} ({{ author.products_count }})
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <button class="btn btn-primary btn-round btn-block" id="refineButton" v-on:click="refine">
                                                <i class="material-icons">search</i> {{ $t('buttons.refine.title') }}
                                                <div class="ripple-container"></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row" v-if="!category">
                                <div class="col-md-4" v-for="n in 3">
                                    <div class="card card-product card-plain " data-colored-shadow="false">
                                        <div class="card-header card-header-image">
                                            <a href="#">
                                                <div style="width: 100%; padding-top: 100%;" class="animated-background"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '14px' }" class="animated-background"></div>
                                            </a>
                                            <p class="description">
                                                <b>{{ $t('pages.category.sections.author.title') }}</b> :
                                            <div :style="{ 'width': lodash.random(50, 75) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-between">
                                            <div class="price-container">
                                                <div :style="{ 'width': lodash.random(0, 100) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-else>
                                <div class="col-md-4" v-for="product in products">
                                    <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                        <div class="card-header card-header-image">
                                            <router-link :to="{name: 'product', params: {product: product.slug}}">
                                                <img :src="product.index_image" :alt="product.slug" :title="product.name">
                                            </router-link>
                                        </div>
                                        <div class="card-body">
                                            <router-link :to="{name: 'product', params: {product: product.slug}}">
                                                <h4 class="card-title text-left">{{ product.name }}</h4>
                                            </router-link>
                                            <p class="description">
                                                <b>{{ $t('pages.category.sections.publisher.title') }}</b>:
                                                <router-link :to="{name: 'publisher', params: {publisher: product.publisher.slug}}">{{ product.publisher.name }}</router-link><br>
                                                <b>{{ $t('pages.category.sections.author.title') }}</b>:
                                                <span v-for="(author, key) in product.authors">
                                                    <router-link :to="{name: 'author', params: {author: author.slug}}">{{ author.name }}</router-link><span v-if="key < product.authors.length-1">, </span>
                                                </span>
                                                <br>
                                                <span class="text-primary font-weight-bold" v-if="product.discount && product.discount.type == 'bundle'">
                                                    {{ product.discount.name }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-between">
                                            <div class="price-container" v-if="product.discount && product.discount.type != 'bundle'">
                                                <span class="price price-old">{{ product.price }}<small>HUF</small></span>&nbsp;
                                                <span class="price price-new">{{ product.new_price }}<small class="text-danger">HUF</small></span>
                                            </div>
                                            <div class="price-container" v-else>
                                                <span class="price"> {{ product.price }}<small>HUF</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mx-auto text-center">
                                    <p class="text-danger" v-if="empty">{{ $t("messages.productsEmpty") }}</p>
                                    <button rel="tooltip" v-else id="moreProducts" v-on:click="paginateProducts" class="btn btn-primary btn-round"  data-original-title="" :title="$t('buttons.moreProducts.title')">{{ $t('buttons.moreProducts.title') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Category",
        data: function () {
            return {
                title: '',
                category: null,
                products: null,
                authors: null,
                publishers: null,
                empty: true,
                offset: 3,
                checkedPublisher: false,
                checkedAuthor: false,
            }
        },
        head: {
            title: {
                inner: 'Betöltés...'
            }
        },
        mounted: function() {
            this.loadProducts();
            this.loadAuthors();
            this.loadPublishers();
            $('body').on('change', '.publisher', function() {
                if(!this.checkedAuthor)
                {
                    let authors = [];
                    this.checkedPublisher = false;
                    let checkedPublisher = this.checkedPublisher;
                    $('.publisher').each(function () {
                        if($(this).is(':checked')) {
                            let publisherAuthors = '[' + $(this).data('authors') + ']';
                            $.each(JSON.parse(publisherAuthors), function(index, value) {
                                if (!(Object.values(authors).indexOf(Number(value)) > -1)) {
                                    authors.push(value);
                                }
                            });
                            checkedPublisher = true;
                        }
                    });
                    this.checkedPublisher = checkedPublisher;
                    let element = $(this);


                    $('.author').each(function(){
                        $(this).removeAttr('disabled');
                        if(checkedPublisher)
                        {
                            if (!(Object.values(authors).indexOf(Number($(this).val())) > -1)) {
                                $(this).attr('disabled', true);
                            }
                        }
                    });
                }
            });
            $('body').on('change', '.author', function() {

                if(!this.checkedPublisher)
                {
                    let publishers = [];
                    this.checkedAuthor = false;
                    let checkedAuthor = this.checkedAuthor;
                    $('.author').each(function () {
                        if($(this).is(':checked')) {
                            let authorPublishers = '[' + $(this).data('publishers') + ']';
                            $.each(JSON.parse(authorPublishers), function(index, value) {
                                if (!(Object.values(publishers).indexOf(Number(value)) > -1)) {
                                    publishers.push(value);
                                }
                            });

                            checkedAuthor = true;
                        }
                    });

                    this.checkedAuthor = checkedAuthor;

                    $('.publisher').each(function(){
                        $(this).removeAttr('disabled');
                        if(checkedAuthor)
                        {
                            if (!(Object.values(publishers).indexOf(Number($(this).val())) > -1)) {
                                $(this).attr('disabled', true);
                            }
                        }
                    });
                }
            });
        },
        methods: {
            loadProducts: function() {
                var category = $.when(this.$http.get(domain + '/api/category/products', {params:  {category: this.$route.params.category}}).then((response) => {
                    this.category = response.body.category;
                    this.products = response.body.category.products;
                    this.title = response.body.category.name;
                    this.empty = response.body.empty;
                    this.$options.head.title.inner = response.body.category.name;
                    this.$emit('updateHead')
                    this.loadSlider(response.body.category.min_price, response.body.category.max_price);
                }));
                return category;
            },
            loadAuthors: function () {
                var authors = $.when(this.$http.get(domain + '/api/author').then((response) => {
                    this.authors = response.body.authors;
                }));
                return authors;
            },
            loadPublishers: function () {
                var publishers = $.when(this.$http.get(domain + '/api/publisher').then((response) => {
                    this.publishers = response.body.publishers;
                }));
                return publishers;
            },
            loadSlider: function(minPrice, maxPrice) {
                let min = minPrice;
                let max = maxPrice;

                noUiSlider.create(this.$refs.sliderRefine, {
                    start: [min, max],
                    connect: true,
                    range: {
                        'min': [min],
                        'max': [max]
                    }
                });

                this.$refs.sliderRefine.noUiSlider.on('update', function(values, handle) {
                    if (handle) {
                        $('#price-right').data('price', Math.round(values[handle]));
                        $('#price-right').html(Math.round(values[handle]) + $('#price-right').data('currency'));
                    } else {
                        $('#price-left').data('price', Math.round(values[handle]));
                        $('#price-left').html(Math.round(values[handle]) + $('#price-left').data('currency'));
                    }
                });

            },
            paginateProducts: function () {
                $('#moreProducts').text(this.$t('buttons.moreProducts.loading'));
                let parameters = this.getFilterData();
                parameters['offset'] = this.offset;
                $.when(this.$http.get(domain + '/api/category/products/filtered', {params:  parameters}).then((response) => {
                    this.empty = response.body.empty;
                    $('.tooltip').remove();
                    for(let index in response.body.products) {
                        Vue.set(this.products, this.products.length, response.body.products[index]);
                    }
                    $('#moreProducts').text(this.$t('buttons.moreProducts.title'));
                    this.offset+=3;
                }));
            },
            refine: function () {
                this.offset = 3;
                $.when(this.$http.get(domain + '/api/category/products/filtered', {params:  this.getFilterData()}).then((response) => {
                    this.empty = response.body.empty;
                    $('.tooltip').remove();
                    this.products = response.body.products;
                }));

            },
            resetRefine: function () {
                $('.author').each(function(){
                    $(this).prop('checked', false);
                    $(this).removeAttr('disabled');
                });

                $('.publisher').each(function(){
                    $(this).prop('checked', false);
                    $(this).removeAttr('disabled');
                });

                $('#price-left').data('price', this.category.min_price);
                $('#price-right').data('price', this.category.max_price);

                this.refine();

            },
            getFilterData: function () {
                let publisher = [];
                let author = [];

                $('.publisher:checked').each(function(){
                    publisher.push($(this).val());
                });

                $('.author:checked').each(function(){
                    author.push($(this).val());
                });

                let data = {
                    category: this.category.slug,
                    priceRange: {
                        min: $('#price-left').data('price'),
                        max: $('#price-right').data('price')
                    },
                    publisher: publisher,
                    author: author,
                };

                return data;
            }
        },
        created() {
            $('body').attr('class', 'ecommerce-page sidebar-collapse');
        }
    }
</script>