<template>
    <div>
        <div class="page-header header-filter header-small" data-parallax="true" filter-color="red" style="background-image: url('/img/headers/books.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1>{{ $t('pages.home.title') }}</h1>
                            <h3 class="title">{{ $t('pages.home.description') }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section">
                <div class="container" id="productsPagination">
                    <h2 class="section-title">{{ $t('pages.home.sections.products.title') }}</h2>
                    <div class="row" v-if="!products">
                        <div class="col-md-4" v-for="n in 3">
                            <div class="card card-product card-plain " data-colored-shadow="false">
                                <div class="card-header card-header-image">
                                    <a href="#">
                                        <div style="width: 100%; padding-top: 100%;" class="animated-background"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="#">
                                        <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '14px' }" class="animated-background"></div>
                                    </a>
                                    <p class="description">
                                        <b>{{ $t('pages.category.sections.author.title') }}</b> :
                                    <div :style="{ 'width': lodash.random(50, 75) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                    </p>
                                </div>
                                <div class="card-footer justify-content-between">
                                    <div class="price-container">
                                        <div :style="{ 'width': lodash.random(0, 100) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-else>
                        <div class="col-md-4" v-for="product in products">
                            <div class="card card-product card-plain">
                                <div class="card-header card-header-image">
                                    <router-link :to="{name: 'product', params: {product: product.slug}}">
                                        <img :src="product.index_image" alt="">
                                    </router-link>
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-left">
                                        <router-link :to="{name: 'product', params: {product: product.slug}}">{{ product.name }}</router-link>
                                    </h4>
                                    <p class="card-description text-left">
                                        <b>{{ $t('pages.category.sections.publisher.title') }}</b>:
                                        <router-link :to="{name: 'publisher', params: {publisher: product.publisher.slug}}">{{ product.publisher.name }}</router-link><br>
                                        <b>{{ $t('pages.category.sections.author.title') }}</b>:
                                        <span v-for="(author, key) in product.authors">
                                            <router-link :to="{name: 'author', params: {author: author.slug}}">{{ author.name }}</router-link><span v-if="key < product.authors.length-1">, </span>
                                        </span>
                                        <br>
                                        <span class="text-primary font-weight-bold" v-if="product.discount && product.discount.type == 'bundle'">
                                            {{ product.discount.name }}
                                        </span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="price-container" v-if="product.discount && product.discount.type != 'bundle'">
                                        <span class="price price-old">{{ product.price }}<small>HUF</small></span>&nbsp;
                                        <span class="price price-new">{{ product.new_price }}<small class="text-danger">HUF</small></span>
                                    </div>
                                    <div class="price-container" v-else>
                                        <span class="price"> {{ product.price }}<small>HUF</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto text-center">
                    <p class="text-danger" v-if="empty">{{ $t("messages.productsEmpty") }}</p>
                    <button rel="tooltip" id="moreProducts" v-else v-on:click="paginateProducts" class="btn btn-primary btn-round" data-original-title="" :title="$t('buttons.moreProducts.title')">
                        {{ $t('buttons.moreProducts.title') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Home",
        data: function () {
            return {
                title: '',
                products: null,
                empty: false,
                productsCount: 3,
            }
        },
        head: {
            title: function () {
                return {
                    inner: this.title
                }
            },
        },
        mounted: function() {
            this.loadProducts();
        },
        methods: {
            loadProducts: function() {
                var products = $.when(this.$http.get(domain + '/api/product').then((response) => {
                    this.products = response.body.products;
                    this.empty = response.body.empty;
                }));
                return products;
            },
            paginateProducts: function () {
                $('#moreProducts').text(this.$t('buttons.moreProducts.loading'));
                $.when(this.$http.get(domain + '/api/product', {params:  {offset: this.productsCount}}).then((response) => {
                    this.empty = response.body.empty;
                    $('.tooltip').remove();
                    for(let index in response.body.products) {
                        Vue.set(this.products, this.products.length, response.body.products[index]);
                    }
                    $('#moreProducts').text(this.$t('buttons.moreProducts.title'));
                    this.productsCount+=3;
                }));

            }
        },
        created() {
            this.title = this.$t('pages.home.title');
            $('body').attr('class', 'ecommerce-page sidebar-collapse');
        }
    }
</script>