<template>
    <div>
        <div class="page-header header-filter" data-parallax="true" filter-color="red" style="background-image:url('/img/headers/books.jpg');">
            <div class="container">
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="main main-raised main-product">
                    <div class="row" v-if="!product">
                        <div class="col-md-6 col-sm-6">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div style="width: 100%; padding-top: 100%;" class="animated-background"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h2 class="title">
                                <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '20px' }" class="animated-background"></div>

                            </h2>
                            <h3 class="main-price">
                                <div :style="{ 'width': lodash.random(10, 30) + '%', 'height': '14px', 'margin-bottom': '10px'}" class="animated-background"></div>
                                <div :style="{ 'width': lodash.random(10, 30) + '%', 'height': '14px' }" class="animated-background"></div>
                            </h3>
                            <div role="tablist">
                                <div class="card card-collapse">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                {{ $t('pages.product.sections.description.title') }}
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show pt-3" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <b>{{ $t('pages.category.sections.publisher.title') }}</b>:
                                        <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '14px' }" class="animated-background"></div>
                                        <b>{{ $t('pages.category.sections.author.title') }}</b>:
                                        <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '14px' }" class="animated-background"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pull-right">
                                <div :style="{ 'width': lodash.random(20, 50) + '%', 'height': '25px' }" class="animated-background"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-else>
                        <div class="col-md-6 col-sm-6">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <img :src="product.index_image">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h2 class="title"> {{ product.name }} </h2>
                            <h3 class="main-price" v-if="product.discount && product.discount.type != 'bundle'">
                                <span class="price price-old">{{ product.price }}<small>HUF</small></span><br>
                                <span class="price price-new">{{ product.new_price }}<small class="text-danger">HUF</small></span>
                            </h3>
                            <h3 class="main-price" v-else>
                                <span class="price">{{ product.price }}HUF</span>
                            </h3>
                            <div id="accordion" role="tablist">
                                <div class="card card-collapse">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{ $t('pages.product.sections.description.title') }}
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show pt-3" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <b>{{ $t('pages.category.sections.publisher.title') }}</b>:
                                        <router-link :to="{name: 'publisher', params: {publisher: product.publisher.slug}}">{{ product.publisher.name }}</router-link><br>
                                        <b>{{ $t('pages.category.sections.author.title') }}</b>:
                                        <span v-for="(author, key) in product.authors">
                                            <router-link :to="{name: 'author', params: {author: author.slug}}">{{ author.name }}</router-link><span v-if="key < product.authors.length-1">, </span>
                                        </span>
                                        <br>
                                        <span class="text-primary font-weight-bold" v-if="product.discount && product.discount.type == 'bundle'">
                                            {{ product.discount.name }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pull-right">
                                <button class="btn btn-primary btn-round add-product" v-on:click="addToCart(product.slug)">{{ $t('buttons.addToCart.title') }} &nbsp;<i class="material-icons">shopping_cart</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { EventBus } from '../../event-bus';

    export default {
        name: "Product",
        data: function () {
            return {
                title: '',
                product: null
            }
        },
        head: {
            title: {
                inner: 'Betöltés...'
            }
        },
        mounted() {
            this.loadProduct();
        },
        methods: {
            loadProduct: function () {
                var product = $.when(this.$http.get(domain + '/api/product/' + this.$route.params.product).then((response) => {
                    if(response.body.product == null) {
                        return this.$router.push('/404')
                    }
                    this.product = response.body.product;
                    this.$options.head.title.inner = response.body.product.name;
                    this.$emit('updateHead')
                }));
                return product;
            },
            addToCart: function (product) {
                var add = $.when(this.$http.post(domain + '/api/cart', {
                    product: product
                }, {
                    headers: window.axios.defaults.headers.common
                }).then((response) => {
                    $.notify({
                        icon: "done",
                        message: response.body.message,
                    },{
                        type: 'success',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                    EventBus.$emit('refreshCart')
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
            }
        },
        created() {
            $('body').attr('class', 'product-page sidebar-collapse');
        }
    }
</script>