<template>
    <div>
        <div class="page-header header-filter clear-filter header-small" data-parallax="true" filter-color="red" style="background-image: url('/img/headers/books.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand">
                            <h1>{{ this.title }}</h1>
                            <h3 class="title">{{ $t('pages.publisher.description') }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">{{  $t('pages.publisher.sections.products.title') }}</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" v-if="!publisher">
                                <div class="col-md-4" v-for="n in 3">
                                    <div class="card card-product card-plain " data-colored-shadow="false">
                                        <div class="card-header card-header-image">
                                            <a href="#">
                                                <div style="width: 100%; padding-top: 100%;" class="animated-background"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <div :style="{ 'width': lodash.random(25, 75) + '%', 'height': '14px' }" class="animated-background"></div>
                                            </a>
                                            <p class="description">
                                                <b>{{ $t('pages.category.sections.author.title') }}</b> :
                                                <div :style="{ 'width': lodash.random(50, 75) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-between">
                                            <div class="price-container">
                                                <div :style="{ 'width': lodash.random(0, 100) + '%', 'height': '14px', 'margin-bottom': '20px' }" class="animated-background"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-else>
                                <div class="col-md-4" v-for="product in products">
                                    <div class="card card-product card-plain " data-colored-shadow="false">
                                        <div class="card-header card-header-image">
                                            <router-link :to="{name: 'product', params: {product: product.slug}}">
                                                <img :src="product.index_image" :alt="product.slug" :title="product.name">
                                            </router-link>
                                        </div>
                                        <div class="card-body">
                                            <router-link :to="{name: 'product', params: {product: product.slug}}">
                                                <h4 class="card-title text-left">{{ product.name }}</h4>
                                            </router-link>
                                            <p class="description">
                                                <b>{{ $t('pages.category.sections.author.title') }}</b>:
                                                <span v-for="(author, key) in product.authors">
                                                    <router-link :to="{name: 'author', params: {author: author.slug}}">{{ author.name }}</router-link><span v-if="key < product.authors.length-1">, </span>
                                                </span><br>
                                                <span class="text-primary font-weight-bold" v-if="product.discount && product.discount.type == 'bundle'">
                                                    {{ product.discount.name }}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-between">
                                            <div class="price-container" v-if="product.discount && product.discount.type != 'bundle'">
                                                <span class="price price-old">{{ product.price }}<small>HUF</small></span>&nbsp;
                                                <span class="price price-new">{{ product.new_price }}<small class="text-danger">HUF</small></span>
                                            </div>
                                            <div class="price-container" v-else>
                                                <span class="price"> {{ product.price }}<small>HUF</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mx-auto text-center" v-if="products">
                                    <p class="text-danger" v-if="empty">{{ $t("messages.productsEmpty") }}</p>
                                    <button rel="tooltip" id="moreProducts" v-else v-on:click="paginateProducts" class="btn btn-primary btn-round" data-original-title="" :title="$t('buttons.moreProducts.title')">
                                        {{ $t('buttons.moreProducts.title') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Publisher",
        data: function () {
            return {
                title: '',
                publisher: null,
                products: null,
                empty: true,
                offset: 3,
            }
        },
        head: {
            title: {
                inner: 'Betöltés...'
            }
        },
        mounted() {
            this.loadPublisher();
        },
        methods: {
            loadPublisher: function () {
                var publisher = $.when(this.$http.get(domain + '/api/publisher/products', {params:  {publisher: this.$route.params.publisher}}).then((response) => {
                    if(response.body.publisher == null) {
                        return this.$router.push('/404')
                    }
                    this.publisher = response.body.publisher;
                    this.products = response.body.publisher.products;
                    this.empty = response.body.empty;
                    this.title = response.body.publisher.name;
                    this.$options.head.title.inner = response.body.publisher.name;
                    this.$emit('updateHead')
                }));
                return publisher;
            },
            paginateProducts: function () {
                $('#moreProducts').text(this.$t('buttons.moreProducts.loading'));
                var products = $.when(this.$http.get(domain + '/api/publisher/products', {params:  {offset: this.offset, publisher: this.$route.params.publisher}}).then((response) => {
                    this.empty = response.body.empty;
                    $('.tooltip').remove();
                    for(let index in response.body.publisher.products) {
                        Vue.set(this.products, this.products.length, response.body.publisher.products[index]);
                    }
                    $('#moreProducts').text(this.$t('buttons.moreProducts.title'));
                    this.offset+=3;
                }));
                console.log(this.offset);
                return products;
            }
        },
        created() {
            $('body').attr('class', 'ecommerce-page sidebar-collapse');
        }
    }
</script>