<template>
    <div class="page-header error-page header-filter" filter-color="red">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">404</h1>
                    <h2 class="description text-white">{{ $t('pages.404.title') }} :(</h2>
                    <h4 class="description text-white">{{ $t('pages.404.description') }}</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NotFound",
        data: function () {
            return {
                title: '',
            }
        },
        head: {
            title: function () {
                return {
                    inner: this.title
                }
            },
        },
        created() {
            this.title = this.$t('pages.404.title')
            $('body').attr('class', 'error-page sidebar-collapse');
        }
    }
</script>
