<template>
    <div>
        <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
            <div class="container">
                <div class="navbar-translate">
                    <router-link class="navbar-brand" :to="{name: 'home'}">Laravel</router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" v-for="item in menu">
                            <router-link :to="{name: 'category', params: {category: 'konyv'}}" class="nav-link">
                                {{ item.name}}
                            </router-link>
                        </li>
                        <li class="button-container nav-item iframe-extern">
                            <button class="btn btn-primary btn-round btn-block" v-on:click="toggleCart">
                                <i class="material-icons">shopping_cart</i> {{ $t('menu.links.cart') }} <span v-if="cart">({{ cart.quantity }})</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <aside class="cart-sidebar">
            <div class="card card-plain m-0">
                <div class="card-body px-4 py-0">
                    <div class="card-title">
                        <h3>{{ $t('cart.menu.title') }}</h3>
                        <button type="button" rel="tooltip" class="btn btn-default btn-round btn-just-icon btn-sm" v-on:click="toggleCart" data-original-title="" title="">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="title-hr"></div>
                    <div v-if="cart">
                        <ul v-if="cart.quantity < 1">
                            <li class="empty-cart">
                                <h3>{{ $t('cart.menu.sections.emptyCart.title') }}</h3>
                                <p>{{ $t('cart.menu.sections.emptyCart.description') }}</p>
                            </li>
                        </ul>
                        <ul v-else>
                            <li class="cart-product" v-for="product in cart.products">
                                <div class="cart-info">
                                    <img :src="product.index_image" :alt="product.slug" width="70">
                                    <div class="product-info">
                                        <span class="title">{{ product.name }}</span>
                                    </div>
                                    <button type="button" class="btn btn-danger btn-round btn-just-icon btn-sm" v-on:click="remove(product.slug)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                                <div class="cart-quantity">
                                    <div class="cart-price">
                                        {{ product.cart_price }}
                                    </div>
                                    <div class="cart-quantity-selector">
                                        <button type="button" class="btn btn-default btn-just-icon btn-sm" v-if="cart.cart[product.slug].qty == 1" disabled>
                                            <i class="material-icons">remove</i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-just-icon btn-sm" v-else v-on:click="updateCart(product.slug, 'remove')">
                                            <i class="material-icons">remove</i>
                                        </button>
                                        <span class="quantity ml-1">
                                            {{ cart.cart[product.slug].qty }}
                                        </span>
                                        db
                                        <button type="button" class="btn btn-default btn-just-icon btn-sm ml-1" v-on:click="updateCart(product.slug, 'add')">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-else>
                        <ul>
                            <li class="cart-product" v-for="n in 3">
                                <div class="cart-info">
                                    <div style="width: 70px; padding-top: 70px; float:left;" class="animated-background"></div>
                                    <div class="product-info" style="height: 20px; width: calc(100% - 130px); margin-left: 15px; padding: 25px 0;">
                                        <div style="width: 100%; height: 20px;" class="animated-background"></div>
                                    </div>
                                    <div class="animated-background" style="float: left;width: 30px;height: 30px;margin-top: 20px;margin-left: 15px;border-radius: 50%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-final-price" v-if="cart && cart.products.length > 0">
                        <div class="prices">
                            <span>{{ $t('cart.menu.sections.verdict.text.total') }}</span>
                            <div class="price" id="cartTotal">
                                <span>{{ cart.discounted }}</span>HUF
                            </div>
                        </div>
                        <router-link :to="{name: 'cart'}" class="btn btn-info btn-round">
                            {{ $t('buttons.fullCart.title') }} <i class="material-icons">keyboard_arrow_right</i>
                        </router-link>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>

    import { EventBus } from '../../event-bus';

    export default {
        name: 'navigation',
        data () {
            return {
                menu: null,
                cart: null,
            }
        },
        mounted: function() {
            this.loadMenu();
            this.loadCart();
            EventBus.$on('refreshCart', () => {
                this.loadCart();
            });
        },
        methods: {
            loadMenu: function() {
                var menu = $.when(this.$http.get(domain + '/api/category/all').then((response) => {
                    this.menu = response.body;
                }));
                return menu;
            },
            toggleCart: function () {
                $('.cart-sidebar').toggleClass('show');
            },
            loadCart: function () {
                var cart = $.when(this.$http.get(domain + '/api/cart').then((response) => {
                    this.cart = response.body;
                }));
                return cart;
            },
            updateCart: function (product, operation) {
                var update = $.when(this.$http.put(domain + '/api/cart/' + product, {
                    operation: operation
                }, {
                    headers: window.axios.defaults.headers.common
                }).then((response) => {
                    this.cart = response.body;
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
                return update;
            },
            remove: function (product) {
                var remove = $.when(this.$http.delete(domain + '/api/cart/' + product, {
                    headers: window.axios.defaults.headers.common
                }).then((response) => {
                    this.cart = response.body;
                }, (fail) => {
                    $.notify({
                        icon: "add_alert",
                        message: fail.body.message,
                        title: fail.body.title
                    },{
                        type: 'danger',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                }));
                return remove;
            }

        },
    }
</script>