.cart-sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1030;
    top: 0;
    right: -400px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.cart-sidebar.show {
    transform: translate3d(-400px, 0px, 0px);
    height: 100%;
    visibility: visible;
}
.cart-sidebar .title-hr{
    border-bottom: 1px solid #c4c5c7;
    width: 100%;
}
.cart-sidebar .card-title {
    margin-top: 24px;
}
.cart-sidebar .card-title h3 {
    font-weight: 700;
    margin: 0;
    display: inline-block
}
.cart-sidebar .card-title .btn {
    float: right;
    margin: 2px 0 2px 0;
}
.cart-sidebar ul {
    padding: 0;
    margin-top: 10px;
    list-style: none;
}
.cart-sidebar ul li {
    padding: 10px 10px;
    margin-top: 15px;
    border-bottom: 1px solid #dadbdd;
}
.cart-sidebar ul li.empty-cart {
    margin: 0;
    padding: 0;
    border-bottom: none;
}
.cart-sidebar ul li.empty-cart h3 {
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}
.cart-sidebar ul li.empty-cart p {
    text-align: center;
    margin-top: -10px;
    color: black;
}
.cart-sidebar .cart-info {
    width: 100%;
    display: block;
    clear: both;
    height: 70px;
}
.cart-sidebar ul li img{
    float: left;
}
.cart-sidebar ul li .product-info {
    padding: 19px 0;
    float: left;
}
.cart-sidebar ul li .product-info span {
    margin: 0;
    display: block;
    font-size: 16px;
}
.cart-sidebar ul  li .cart-info .btn {
    margin: 20px 0;
    float: right;
}
.cart-sidebar .cart-quantity {
    width: 100%;
    display: block;
    clear: both;
    padding-top: 5px;
    height: 35px;
}
.cart-sidebar .cart-quantity .btn {
    width: 25px;
    min-width: 25px;
    height: 25px;
}
.cart-sidebar .cart-quantity .btn i{
    font-size:13px !important;
    line-height: 25px !important;
}
.cart-sidebar .cart-quantity .cart-quantity-selector{
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.cart-sidebar .cart-price {
    float: right;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
}
.cart-final-price .prices {
    display: inline-block;
}
.cart-final-price .prices span {
    color: #999;
    font-size: 12px;
    font-weight: 700;
}
.cart-final-price .prices .price, .cart-final-price .prices .price span {
    font-size: 18px;
    font-weight: 900;
    color: rgba(0,0,0,0.87);
}
.cart-final-price .btn {
    float:right;
}
.main-product {
    padding: 40px 40px 25px 40px !important;
}
.main-product .btn {
    margin-top: 40px;
}
h3.main-price .price.price-old{
    text-decoration: line-through;
    font-size: 16px;
    color: #9a9a9a;
}
h3.main-price .price.price-new{
    color: #f44336;
}
.cartPageEmpty {
    float: right;
}
.cart-verdict h5 {
    margin: 0;
}
div.empty-cart {
    width: 100%;
    overflow: hidden;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
.animated-background{
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-name:placeHolderShimmer;
    animation-timing-function:linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position:relative
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .cart-sidebar {
        width: 100%;
        right: -100%;
    }
    .cart-sidebar.show {
        transform: translate3d(-100%, 0px, 0px);
    }
}