<template>
    <div id="app">
        <navigation></navigation>
        <router-view></router-view>
    </div>
</template>

<script>
    import navigation from './Templates/Navigation.vue'

    export default {
        name: 'App',
        data: function () {
            return {

            }
        },
        components: {
            navigation
        }
    }
</script>